page-exchangecoin {

}


#notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}



@media(min-width: 0px){
    .SpacePageExchange{
        margin-top: 243px;
    }
}

@media(min-width: 620px){
    .SpacePageExchange{
        margin-top: 343px;
    }
}
  
@media(min-width: 820px){
    .SpacePageExchange{
        margin-top: 443px;
    }
}

.badgeCustom{
    font-size: 2.3rem;
    top: 0px;
    right: 0px;

}